.turbolinks-progress-bar{height:10px;background-color:#f46a6a}.btn-group-xs>.btn,.btn-xs{padding:.25rem .4rem;font-size:.775rem;line-height:.5;border-radius:.2rem}table.table-hover tbody tr:hover{background-color:#dfdfdf}

/*# sourceMappingURL=styles.css.map*/